.title {
    width: 100%;
    padding: 50px 0px 50px 0px;
    border-bottom: 10px solid gray;
    text-align: center;
    background-color: blue;
}

.crystalRow{
    background-color: rgb(71, 71, 71);
}
.crystals {
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 700px;
    background-image: url(../images/roomgallery_cave1.jpg)
}

.red{
    background-color: darkgray;
    float: left;
    width: 140px;
    height: 140px;
    margin: 30px 15px 30px 15px;
      
}
.red img {
    width: 140px;
    height: 140px;
}

.blue{
    float: left;
    width: 140px;
    height: 140px;
    margin: 30px 15px 30px 15px;
    background-color: darkgray;
}

.blue img {
    width: 140px;
    height: 140px;
}

.green{
    float: left;
    width: 140px;
    height: 140px;
    margin: 30px 15px 30px 15px;
}

.green img{
    width: 140px;
    height: 140px;
}
.yellow{
    background-color: darkgray;
    float: left;
    width: 140px;
    height: 140px;
    margin: 30px 15px 30px 15px;
    
}

.yellow img{
    width: 140px;
    height: 140px;
   
}

.scoreRow {
    height: auto;
    border-top: 10px solid gray;
    border-bottom: 10px solid gray;
    background-color: blue;
    width: 100%;
}
.scores {
    margin-left: auto;
    margin-right: auto;
    height: auto;
    min-height: 250px;
    width: 1000px;
    background-color: darkgray;
    text-align: center;
}

.guess{
    float: left;
    height: 200px;
    width: 250px;
    background-color: white;
    margin: 20px 25px 20px 25px;
}

.dispTotal{
    padding-top: 15px;
}

.random {
    float: left;
    height: 200px;
    width: 250px;
    margin: 20px 25px 20px 25px;
    background-color: white;
}

.dispNum {
    padding-top: 15px;
}

.score {
    float: left;
    margin-left: 40px;
    margin-right: auto;
    height: auto;
    min-height: 250px;
    width: 30%;
}

.wins {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 50%;
    min-height: 110px;
    width: 100%;
    background-color: white;
    
}

.winP{
    padding-top: 15px;
}

.losses {
    margin-bottom: 10px;
    height: 50%;
    min-height: 110px;
    width: 100%;
    background-color: white;
} 

.lossP {
    padding-top: 15px;
}
